.howitsmade-container {
    background-color: #E9E9E9;
    display:inline-block;
    width: 100%;
}

.howitsmade-container > h1 {
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5vh 8vh 5vh;
}

.howitsmade-container > p {
    padding: 0 8vw 0 8vw;
    font-size: 1em;
}

.howitsmade-container > .button-group {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 8vh;
}

.github-repo-logo-color {
    fill: #ffffff;
}
