.contact-me-container {
    background-color: #E9E9E9;
    display:inline-block;
    padding-top: 10vh;
    width: 100vw;
}

.contact-me-col-left header {
    color: black;
    font-size: 3em;
    padding-bottom: 20px;
}

.container > p {
    color: inherit;
    font-size: 16;
}

.summary {
    justify-content: center;
    text-align: center;
    animation: slidein 1s ease forwards 0s;
}

.summary > img {
    margin: 10px 0 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    animation: showup 1s ease forwards 2.5s;
}

.contact-list > li {
    color: inherit;
    list-style-type: none;
    opacity: 0;
    animation: showup 0.2s ease forwards 0.1s;
}

.signature {
    font-family: 'Cookie', cursive;
    font-size: 3em;
    opacity: 0%;
    animation: showup 1s ease forwards 1.5s;
}

.contact-me-col-left {
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
    text-align: center;
}
.contact-me-col-right {
    display: flex;
    justify-content: center;
}

/* For Monitors and Large Displays */
@media screen and (min-width: 1024px) {
    .contact-me-col-left {
        padding-left: 10vw;
        display: flex;
        justify-content: center;
        text-align: left;
    }
    .contact-me-col-right {
        padding-right: 10vw;
        display: flex;
        justify-content: center;
    }
    .summary {
        text-align: left;
    }
}
