.four-year-plan-page-container {
    padding: 10vh 0 10vh 0;
    background-image: url("../../assets/fourYearPlanWallpaper.jpg");
    min-height: 75vh;
    width: 100vw;
}
.four-year-plan-page-container > h1 {
    color: black;
    font-size: 3em;
    text-align: center;
    margin-bottom: 8vh;
    box-sizing: border-box;
}

.four-year-plan-page-container > .paper {
    position: relative;
    display: inline-block;
    width: 65vw;
    max-width: 1024px;
    background: rgba(255,255,255,0.8);
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0);
    box-shadow: 0px 0px 5px 0px #888;
    opacity: 0;
    animation: showup-slideup 1.5s ease forwards 0.5s;
}

/* For Smartphone viewing */
@media (max-width: 1024px) {
  .sticky {
    display: none;
  }
}
