.user-story-section {
    padding: 0 0 100px 0;
}
.user-story-section > .user-story-col-left {
    padding-left: 10vw;
}
.user-story-section > .user-story-col-right {
    padding-right: 10vw;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 500px;
    height: 220px;
}

.scrolling-wrapper-flexbox > .story-card {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    flex: 0 0 auto;
    margin-right: 20px;
    width: 300px;
    height: 200px;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.scrolling-wrapper-flexbox > .story-card > p {
    padding: 30px 20px 36px;
}

.scrolling-wrapper-flexbox > .story-card > div {
    padding-left: 260px;
}

.scrolling-wrapper-flexbox > .story-card > .user-story-page-num-transform1 {
    transform: translate(0, -47px);
}

.scrolling-wrapper-flexbox > .story-card span {
    color: red;
    font-family: "Indie Flower";
}

@media only screen and (max-width: 1024px) {
    .user-story-col-right {
      padding: 0 10vw 0;
    }
    .user-story-col-right p {
      padding: 0 !important;
    }
    .user-story-section {
        padding-bottom: 0;
    }
}
