.navbar-element {
  float: none;
  text-align: center;
}

.github-logo {
  width: 35px;
  height: 35px;
}

.github-logo-color,
.linkedin-logo {
  fill: #ffffff;
}

/*
.github-logo-color:hover,
.linkedin-logo:hover {
  fill: #bbbbbb;
}
*/
